{% extends 'base.html.twig' %}

{% block body_title %}
    <h1>Link list</h1>
{% endblock body_title %}
{% block body_content %}

    {% include "default/list.html.twig" %}

    <ul>
        <li>
            <a href="{{ path('link_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
