{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouveau Lien</h1>

    {{ form_start(form) }}
    <div class="col-lg-11">
        {{ form_widget(form) }}
        <input class="btn btn-primary col-md-offset-7"type="submit" value="Create" />
    </div>
    {{ form_end(form) }}
            <a class="btn btn-default" href="{{ path('link_index') }}">Back to the list</a>
{% endblock %}
