{% extends 'base.html.twig' %}

{% block body_title %}
    {{ parent() }}
    <h1>Yo!</h1>
{% endblock body_title %}

{% block body_content %}
    {% include "default/list.html.twig" %}
    {% include "default/lorem.html.twig" %}
{% endblock body_content %}
