{% extends 'base.html.twig' %}

{% block body_title %}
    {{ parent() }}
    <img alt="Millshr" src="{{ asset("bundles/app/img/logo-millshr.png") }}"/>
{% endblock body_title %}

{% block body_content %}
    {% include "default/list.html.twig" %}
    <h1>{{ 'greeting.welcome.message'|trans }}</h1>
    {% include "default/lorem.html.twig" %}
{% endblock body_content %}
