{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Yo!</h1>
                <div>{% include 'default/list.html.twig' %}</div>
            </div>
        </div>
    </div>
{% endblock %}
