# app/config/routing.yml
lexik_translation_edition:
    resource: "@LexikTranslationBundle/Resources/config/routing.yml"
    prefix:   /_trans

app:
    resource: "@AppBundle/Controller/"
    type:     annotation
    prefix: /{_locale}
